{% extends "base.html" %}
{% block content%}
    <h2>LPM Story</h2>
    <p>
        LPM is first and foremost food-driven and ingredient-led. Fresh and light French Mediterranean and Niçoise
        inspired cuisine. LPM’s simplicity is found in fresh Mediterranean produce, with dishes using artichokes,
        courgettes, lemons, olives, and tomatoes, alongside the freshest seafood, meat, and pasta.

        The menu also includes many classic non-Mediterranean and some inspired Ligurian dishes typical of "Cuisine
        Niçoise" from whole roast baby chicken to gnocchi with fresh tomatoes. The menu, designed for sharing amongst
        the table, is complemented by a substantial French wine list that includes an extensive selection from Provence.
        The menu includes many classic non-Niçoise French and some Italian dishes.

        LPM Director, Arjun Waney and Chef Patron, Raphael Duntoye's, idea for the London restaurant was to both refine
        and expand this menu, emphasizing the elements that distinguish Niçoise food, olive oil, courgettes, artichokes,
        tomatoes etc. Brand new Niçoise -like dishes have been created that have evolved this Mediterranean micro
        cuisine. The idea was to promote a new take on the general perception of French cuisine. Instead of rich heavy
        flavours that depended on the use of excessive butter and cream, the restaurant would largely use the elements
        of Niçoise food, olive oil, tomatoes etc to create a cuisine that was light, healthy and deliciously palatable.
        Such cuisine demands greater cooking skills and a no-compromise approach to the very best fresh raw materials
        that necessitate frequent seasonal changes. Since marinating and quick restaurant methods of preparation and
        cooking are dispensed with in favour of total cooking, the result is food devoid of richness, which can be eaten
        over and over again. The restaurant’s repeat customer volumes are a testament to this.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Art</h3>
            <p>
                Bob Ramchand , one of our Directors, selects our art based on the atmosphere of the country and location
                of the current LPM. The art of LPM represents and include the eccentric style of the 20thCentury
                painters of the South of France, Mediterranean in style and colour, bright, naive, provocative and
                clashing.

                Similarly, flower arrangements should be unstructured and may even be untidy. Colours should be vibrant
                and may even clash with each other.

                The art, flower arrangements and vases stand out as a shocking contrast against what is otherwise a
                gently tasteful and conservative paneled room that contains at least one conventional 19th Century gilt
                mirror and a bronze sculpture. The hallmarks of classic French restaurants.

                The trademark sauce pans were created and designed by Max Cartier, a Nice based artist, come in pairs at
                LPM, with both male and female versions. Max Cartier also designed LPM menus covers, which are unique to
                us.
            </p>
        </div>
        <div class="col-md-5">
            <img src="" alt="">
        </div>
    </div>
{% endblock %}